#main{
  display: block;
  max-width:100%;
  height: auto;
  background: aquamarine;
}

#title{
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 200px;
    padding-bottom: 60px;
}


#image{
 display: block;
max-width: 100%;
height: auto;
  
}